body{
  background-image: url('../bilder/ayo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
/* For background image*/

.vestland{
  width: 300px;
  height: auto;
  margin-left: 40%;
  margin-top: -60px;
  margin-bottom: 0px;
}
/*For vestland logo*/



  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #030107;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  /*dfor navbar and boxes*/
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
  }
  /*For tekst on navbar*/
  
  li a:hover, .dropdown:hover{
    background-color: #180836;
  }
  /*change color when hover over navbar (li/dropdown)*/

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  /*For the dropdown blocks*/
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #fbfdfb;
    border-radius: 10px;
  }
  /*For text in blocks*/
  
  .dropdown-content a:hover 
  {background-color: #e4ec6d;
  }
  /*For color when hover over tekst background*/
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
  }
/*When hover over navbar display dropdown content.*/

  h1 {
    font-size: 3cm;
    font-family: 'Times New Roman', Times, serif;
    color:#180836;
    margin-bottom: 20px;
    margin-top: 0px;
  }
/*Amalie Skram VGS*/
.GeoHub-knapp{
  background-color: #030107;
  font-size: larger;
  font-family: cursive;
  padding: 15px;
  color: white;
}
.GeoHub-knapp:hover{
  background-color: #180836;
  font-size: 30px;
  padding: 11px;
  font-family: 'Times New Roman', Times, serif;
}



.knapp1{
  display: flex;
  transition: background-color 0.5s ease;
  height: 170px;
  width: 20%;
  border-radius: 6px;
  margin-right: 6%;
  background-color: #8d49e6;
  float:left; 
  text-align: center;
  margin-top: 7%;
}

.knapp1:hover{
  background-color:#c9dc20;
  text-shadow: none;
  
}

.knapp2{
  display: flex;
  margin-top: 7%;
  transition: background-color 0.5s ease;
  height: 170px;
  width: 20%; 
  border-radius: 6px;
  background-color: #8d49e6;
  float:left; 
  text-align: center;
}

.knapp2:hover{
  background-color:#c9dc20;
  text-shadow: none;
  
}
/*For the purple buttons*/


.studie_link{
  padding: 70px;
  padding-left: 0%;
  padding-right: 50%;
  padding-right: 0px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}
.link{
  padding: 70px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}
/*For the links inside the buttons*/


.container1{
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}
.item{
  display: flex;
  height: 250px;
  background-color: #f8f8e4;
  border-style:outset;
  flex-basis: 49%;
  border-radius: 20px;
}
/*For the 10 bokses*/
img{
  margin: 0%;
  margin-left: 1%;
  width: 270px;
  height: 200px;
  margin-top: 20px;
}

.para{
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 0px;
  margin-top: 30px;
  margin-left: -150px;
}

.hara{
  color: #030107;
  margin-top: -5px;
  white-space:nowrap;
  margin-left: 30px;
}
/*For the things in the bokses*/






.prosjekter{
  width: 16%;
  margin: 42%;
  margin-top: 20px;
  margin-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100px;
  background-color: #8d49e6;
  transition: 1s;
  overflow: hidden;
}

.prosjekter:hover{
  height: 120px;
  background-color: #b9ff7b;
}

.pros_text{
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  transition: 1s;
  padding: 50px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: -8px;
}

.pros_text:hover{
  font-size: 25px;
}




@media screen and (min-width: 1200px){
  .container1{
    margin-left: 20px;
  }
}
@media screen and (min-width: 1600px){
  .container1{
    margin-left: 25px;
  }
}
@media screen and (min-width: 1800px){
  .container1{
    margin-left: 30px;
  }
}
@media screen and (min-width: 3000px){
  .container1{
    margin-left: 40px;
  }
}
/*for the margin of the flex container(container1)*/

@media screen and (min-width: 2200px){
  .vestland{
    margin-left: 44%;
  }
}




@media screen and (max-width: 1000px){
  .dropdown-content{
    right:0;
  }
.dropbtn{
  font-size: 14px;
  padding-left: 0px;
  padding-right: 0px;
}
ul{
  margin: 8px;

}
  .vestland{
    height: 40px;
    width: 120px;
    margin-top: 0px;
    margin-left: 40%;
  }
  
  h1{
    font-size: 40px;
    margin-left: 5%;
  }
  .knapp1{
    width: 20%;
    height: 50px;
    margin-left: 6%;
    margin-right: 0%;
  }
  .knapp1:hover{
    background-color: #c9dc20;
    transition: background-color 0s ease;
  }
  .knapp2:hover{
    background-color: #c9dc20;
    transition: background-color 0s ease;
  }
  .knapp2{
    width: 21%;
    height: 50px;
    margin-right: 0%;
    margin-left: 5%;
  }
  .studie_link{
    margin-top: 15px;
    font-size: 7px;
    padding: 2px;
    margin-left: -8px;
  }
  .link{
    margin-top: 10px;
    font-size: 8px;
    padding: 2px;
    margin-left: -8px;
  }
  body{
    margin: 0px;

  }


img{
  width: 200px;
  height: 150px;
  margin-bottom: 20px;
}
.container1{
  flex-direction: column;
  width: 100%;
  margin: 0px;
  margin-top: 50px;
}


.item{
  height: 200px;
}
  
  .para{
    font-size: 13px;
    margin-left: -100px;
  }
  
  .hara{
    color: #030107;
    font-size: 18px;
  }

  .prosjekter{
    margin: 35%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30%;
    height: 50px;
  }
.pros_text{
  font-size: 15px;
  padding: 14px;
}

.prosjekter:hover{
  margin: 35%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 30%;
  height: 50px;
}

}
/*changes for mobile and tablet*/


@media screen and (max-width: 25.9375rem){
  img{
    width: 150px;
    height: 120px;
  }
  .item{
    height: 150px;
  }
  .para{
    margin-left: -120px;
    margin-top: 15px;
  }
  .vestland{
    margin-left: 34%;
  }
}
/*More chagens for mobile*/
@media screen and (max-width: 20.9375rem){
  img{
    margin-top: 30px;
    width: 100px;
    height: 80px;
  }
  .item{
    height: 150px;
  }
  .studie_link{
    font-size: 5px;
  }
  .link{
    margin-top: 10px;
    font-size: 7px;
    padding: 1px;
    margin-left: -8px;
  }
  .dropbtn{
    font-size: 10px;
  }
}

/*And lastly even more changes for mobile.*/


@media screen and (max-width: 800px){
  body{
    background-image: url('../bilder/mobilback1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

  }
}